header {
    height: 80px;
    line-height: 80px;
    background-color: #2E3A46;
}

header img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

main {
    background-color: #1E2D3B;
    min-height: calc(100vh - 80px) !important;
}

label {
    color: white;
}

.card {
    background-color: #2E3A46 !important;
}